ARHyperDemo.xcodeproj/project.xcworkspace/xcshareddata
ARHyperDemo.xcodeproj/project.xcworkspace/xcshareddata/ARHyperDemo.xccheckout
ARHyperDemo.xcodeproj/xcuserdata
ARHyperDemo.xcodeproj/project.xcworkspace/xcuserdata
ARHyperDemo.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
Pods.xcodeproj/xcuserdata
.DS_Store
